extends layout

block content


  .container
    .row
      .col-lg-12.col-md-12
        header#sectionHeader
          h1 MOVIES
            
            
            
  .container
    .row
      each movie, i in movies
        .col-sm-6.col-md-4.col-lg-3
          p #{movie.moviename}
          p #{movie.releasedate}
          p #{movie.description}
          p #{movie._id}
          //- a(href = '/movies/#{movie._id}' )
          //-   img.img-responsive(src='http://placehold.it/248x368')
          img.img-responsive(src='#{movie.moviepic}')
