extends layout

block content


  .container
    .row
      .col-lg-12.col-md-12
        header#sectionHeader
          h1 MOVIES
            
            
            
  .container
    .row
      each movie, i in movies
        .col-sm-8.col-md-8
          .row
            #movieImage.col-sm-4.col-md-5
              a(href = '/movies/#{movie._id}' )
                img.img-responsive(src='#{movie.moviepic}')
            .col-sm-8.col-md-7
              p 
                strong #{movie.moviename}
              p #{movie.releasedate}
              p #{movie.description}
              p 
                strong Director: 
                | #{movie.director}
              p Cast: #{movie.cast}
              //- p rating: #{movie.rating}
          
          //- id="movieImage"
          //- a(href = '/movies/#{movie._id}' )
          //-   img.img-responsive(src='#{movie.moviepic}' id="movieImage")
