extends layout

block content

  .container
    .row
      each movie, i in movies
        .col-sm-8.col-md-8
          .row
            .col-sm-4.col-md-5
              img#moviePageImage.img-responsive(src='#{movie.moviepic}')
            .col-sm-8.col-md-7
              p 
                strong #{movie.moviename}
              p #{movie.rating}
              p #{movie.releasedate}
              p #{movie.description}
              hr
              a.btn.btn-default(href='#{movie.trailer}') Trailer
              //- p Trailer #{movie.trailer}
              hr
              //- p Cast: #{movie.cast}
              //- div
              //-   p
              //-     strong Crew:
              //-   p Director:
              //-   p Screenwriters:
              p 
              strong Director: 
              | #{movie.director}
              p
              strong Screenwriter: 
              | #{movie.screenwriter}
              p 
              strong Cast: 
              | #{movie.cast}

  //- 
  //- .container
  //-   .row
  //-     .col-lg-12.col-md-12
  //-       header
  //-         center
  //-           h1 #{movies[0].moviename}
  //-           h1 #{movies[0].rating} 
  //-           h1 #{movies[0].releasedate}
  //-           h1 #{movies[0].description}
  //-           h1 #{movies[0].trailer}
  //-           a(href = "#{movies.[0].trailer}" ) trailer
  //-               
  //- .container
  //-   .row
  //-     each movie, i in movies
  //-       .col-md-8
  //-         p #{movie.moviename}
  //-         p #{movie.releasedate}
  //-         img#moviePageImage.img-responsive(src='#{movie.moviepic}')
