extends layout

block content


  .container

    .container
      .row
        .col-lg-12.col-md-12
          header
            center
              h1 NEWS




    .container
      .row
        each article, i in articles
          .col-sm-6.col-md-4.col-lg-3
            a(href = '/articlelayout/#{article._id}' )
              img.img-responsive(src='http://placehold.it/300x172')
            p By #{article.authorname} //,Date
            p #{article.byline}
            p
              a(href='/author/#{article.authorname}') #{article.authorname}
