extends layout

block content


  .container

    .container
      .row
        .col-lg-12.col-md-12
          header#sectionHeader
              h1 NEWS


              //div #{articles[0].authorname}
            //-div #{articles[0].authorname}

    .container
      .row
        each article, i in articles
          .col-sm-6.col-md-4.col-lg-3
            a(href='/#{article.category}') #{article.category}
            a(href = '/article/#{article._id}' )
              img#imageThumbnail.img-responsive(src='#{article.articlepic}')
              //- img#imageThumbnail.img-responsive(src='http://placehold.it/300x172')
            h3 
              strong #{article.title}
            h6.fadetext By #{article.authorname} #{article.articleDate}
            h4 #{article.byline}
            //- p
            //-   a(href='/author/#{article.authorname}') #{article.authorname}
